.container {
    width: 100px;
    button {
        background-color: rgb(0, 117, 219);
        border-radius: 5px;
        cursor: pointer;
    }
}

.buttons {
    width: 100%;
    margin-left: auto;
}

.addToCard {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    padding: .3rem 0;
}

.plus {
    width: 33%;
    text-align: center;
    padding: .2rem 0;
    font-size: 1rem;
    color: #fff;
    font-weight: 900;
}

.buttonContainer {
    width: 80%;
    margin-left: auto;
    display: flex;
}

.counter {
    width: 33%;
    text-align: center;
    padding: .2rem 0;
    font-size: 1rem;
    font-weight: 900;
    color: rgb(0, 117, 219);
}

.trash {
    width: 33%;
    padding-top: 4px;
    img {
        height: 16px !important;
    }
}