.container {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: #fff;
    >div {
        &:first-child {
            width: 30%;
            img {
                width: 100px;
                height: 100px;
            }
        }
        &:last-child {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    span {
        color: rgb(0, 146, 17);
        font-size: 1rem;
        font-weight: 600;
    }
    a {
        font-size: 1.2rem;
        color: rgb(0, 117, 219);
        font-weight: 900;
    }
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        gap: 20px;
        >div {
            &:last-child {
                gap: 20px;
                flex-direction: column;
            }
        }
    }
}