.container {
    display: flex;
    gap: 40px;
    width: 80%;
    margin: 100px auto 0 auto;
    align-items: flex-start;
    padding-bottom: 100px;
    >div {
        &:first-child {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
        &:last-child {
            background-color: #fff;
            width: 30%;
            padding: 1rem 2rem;
            border-radius: 10px;
            border: 1px solid rgb(199, 199, 199);
        }
    }
}

.total {
    margin-top: 10px;
    span {
        font-size: 1.4rem;
        &:first-child {
            font-weight: 900;
            color: rgb(0, 117, 219);
        }
    }
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    button {
        font-size: 1.3rem;
        font-weight: 600;
        cursor: pointer;
        &:last-child {
            padding: .5rem 2rem;
            background-color: rgb(0, 146, 17);
            text-align: center;
            color: #fff;
            border-radius: 10px;
        }
    }
}

.response {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    h2 {
        font-size: 1.8rem;
        font-weight: 900;
    }
    a {
        width: 150px;
        border-radius: 5px;
        border: 1px solid rgb(134, 134, 134);
        padding: .3rem 0;
        font-size: 1.2rem;
        text-align: center;
        font-weight: 600;
    }
}

@media (max-width: 1200px) {
    .buttonContainer {
        margin-top: 30px;
        button {
            font-size: 1.1rem;
            &:last-child {
                padding: .4rem 1rem;
                border-radius: 5px;
            }
        }
    }
    .total {
        span {
            font-size: 1rem;
            &:first-child {
                font-size: 1.1rem;
            }
        }
    }
    .container {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        >div {
            &:first-child {
                width: 100%;
            }
            &:last-child {
                width: 100%;
                padding: 1rem 2rem;
            }
        }
    }
}