.listContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 120px;
    padding: 0 3rem;
    flex: 1 1 150px;
}

.loading {
    margin-top: 150px;
    font-size: 5rem;
    font-weight: 900;
}